<html>
	<head>
		<title>Interactivo multimedia</title>
	</head>
	<body>
		<div id="player">
			<div id="capitulos"></div>

			<div id="video-placeholder"></div>
			<div id="cortina">
				<div class="inside" id="cortina_inside">
					<div class="title"></div>
					<div class="txt"></div>
				</div>
					
			</div>
			<nav class="btm">
				<div id="currentTime">
					<div class="next"></div>
					<div class="current">
						<div class="time_num">00:00</div>
						<div class="current_title">Titulo del elemento</div>
					</div>
				</div>
				<nav class="items">
					
				</nav>
			</nav>
		</div>
	</body>
</html>